:root{
  /* universal colors */
  --color-bg-01: #333333;
  --color-bg-02: #444444;
  --color-bg-03: #CCC;
  --color-bg-navbar-01: #000000;
  --color-bg-navbar-02: #333333;
  --color-bg-navbar-03: #555555;
  --color-navbar-border-01: #666;
  --color-border-01: #000000;
  --color-border-02: #888888;
  --color-item-01: #FF7700;
  --color-item-02: #FF8822;
  --color-item-03: #EE6E00;
  --color-txt-navbar: #FFFFFF;
  --color-txt-01: #FFFFFF;
  --color-txt-02: #000000;
  --color-txt-03: #303030;
  

  /* colors from v1 design */

  --color-bg-1: #f2f8f3ff;
  --color-bg-2: #d6eadcff;
  --color-bg-3: #bbddc3ff;
  --color-bg-4: #9fd0a9ff;
  --color-border-1: #3a7d44ff;
  --color-border-2: #1a381eff;
  /*--color-item-0: #fff;*/
  /*--color-item-1: #f2f8f3ff;*/
  /*--color-item-2: #9fd0a9ff;*/
  --color-item-3: #3a7d44ff;
  --color-item-4: #1a381eff;
  /*--color-text-1: #000;*/
  --color-text-2: #3a7d44ff;
  --color-text-3: #2A5B31ff;
  --color-text-4: #1a381eff;
}
html {
  background: var(--color-bg-navbar-01);
}
body {
  font-family: "Inter", "Arial", sans-serif;
  background: var(--color-bg-02);
}
a {
  color: var(--color-item-01);
  font-weight: 600;
  text-decoration: none;
}
a:hover{
  color: var(--color-item-02);
}

.content-block{
  color: var(--color-txt-01);
/*  font-family: "Inter", "Arial", sans-serif;*/
  padding: 60px 0px;
  font-size: 0.9rem;
}
.content-block:nth-of-type(odd){
  background: var(--color-bg-01);
}
.content-block:nth-of-type(even){
  background: var(--color-bg-02);
}
/*.content-block a{
  color: inherit;
  text-decoration: none;
}*/
.content-block h2{
  /*font-size: 2.8rem;
  font-weight: 400;*/
/*  text-align: center;*/
}
.content-block h3{

}
.content-block .row{
  margin-bottom: 20px;
}
.content-block-top-text{
  text-align: center;

}
.content-block-top-text h2 {
  font-size: 3rem;
  margin-bottom: 30px;
}
.content-block-item{
  margin-bottom: 48px;
}
.btn-simple{
  background: var(--color-item-01);
  border-radius: 0px;
  color: var(--color-txt-02);
  font-size: 1.4rem;
  padding: 15px;
}
.btn-simple:hover{
  background: var(--color-item-03) !important;
  color: var(--color-txt-02);
}
.btn-simple:active{
  background: var(--color-item-02) !important;
  color: var(--color-txt-02) !important;
/*  border: none;*/
}
.btn-block{
  display: block;
  width: 100%;
}