#maincontent {
  --timer: 1s;
}
#welcome{
  position: relative;
}
#welcome-image{
  width: 100vw;
}
#welcome-text-container{
  background: linear-gradient(to right, #00000000, #000000AA);
  color: var(--color-txt-01);
  height: 100%;
  padding: 7% 4% 0% 0%;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  width: 55%;
}
#welcome-text-container h2{
  font-size: 7vw;
  font-weight: 600;
  margin-bottom: 10%;
  text-shadow: 0px 0px 5px black;
  text-transform: uppercase;
}
#welcome-text-container p{
  font-size: 2.5vw;
  text-shadow: 0px 0px 5px black;
}
#welcome-text-container h2,
#welcome-text-container p{
  transition: transform var(--timer) ease-in-out, opacity var(--timer);
}
#welcome-text-container h2.before-scroll,
#welcome-text-container p.before-scroll{
  opacity: 0;
  transform: translate(0px, 8vw);
}
#main-introduction {
  font-size: 1.4rem;
  font-style: italic;
  text-align: right;
}
#main-introduction div,
#main-stack div,
#main-strengths div,
#main-minisites div {
  transition: transform var(--timer) ease-out, opacity var(--timer) ease-in;
}
#main-introduction div.before-scroll{
  opacity: 0;
  transform: translate(100vw);
} 
#main-stack div.before-scroll{
  opacity: 0;
  transform: translate(-100vw);
} 
#main-strengths div.before-scroll{
  opacity: 0;
  transform: translate(100vw);
}
#main-minisites .container.before-scroll{
  opacity: 0;
  transform: translate(0px, 300px);
}
#main-minisite-item-snake.before-scroll,
#main-minisite-item-news.before-scroll,
#main-minisite-item-editor.before-scroll,
#main-minisite-item-fileuploader.before-scroll,
#main-minisite-item-gallery.before-scroll
{
  opacity: 0;
  transform: translate(0px, 800px);
}

.content-block-item h3{
  color: var(--color-item-01);
  font-size: 3rem;
}
#main-stack .main-stack-skills{
  font-size: 1rem;
  font-weight: bold;
}

#main-minisites h2 {
  color: var(--color-item-01);
  font-size: 3.5rem;
}

.main-minisite-image{
  position: relative;       
}
.main-minisite-item {
}
a .main-minisite-item{
  color: var(--color-txt-01);
/*  background: green;*/

}
.main-minisite-item h4{
  padding: 10px;
  font-weight: 600;
  background: #222;
  margin-bottom: 0;
  text-align: center;
}
.main-minisite-item-text{
  width: 100%;
  font-weight: 400;
}
.main-minisite-image{
  overflow: hidden;
}
.main-minisite-image img{
  transition: transform 0.3s !important;  
}
.main-minisite-item:hover .main-minisite-image img{
  transform: scale(1.05);
}


#contact-form-container{
  position: relative;
}
#contact-form{
}
#contact-form input, #contact-form textarea{
  border: none;
  border-radius: 0px;
  background: var(--color-bg-03);
  color: var(--color-txt-02);
  padding: 20px;
}
#contact-form input:focus, #contact-form textarea:focus{
  border-color: #FFF;
  box-shadow: 0 0 5px 0.15rem var(--color-border-02);
}
#contact-form input::placeholder, #contact-form textarea::placeholder{
  color: var(--color-txt-03);
}
#contact-form .contact-feedback{
  color: red;
}
#contact-form .contact-feedback.hidden{
  visibility: hidden;
}
#contact-form.hidden{
  visibility: hidden;
}

#submit-response{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
#submit-response.hidden{
  visibility: hidden;
}

@media (min-width: 576px){
  .main-minisite-item-text{
    background: #000000AA;
    bottom: 0;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    padding: 40px;
    text-align: center;
    transition: opacity 0.3s !important;
  }
  .main-minisite-item:hover .main-minisite-item-text{
    display: block;
    height: 100%;
    opacity: 1;
  }
}

@media (max-width: 576px){
  .main-minisite-item-text{
    background: #000000;
    display: block;
    padding: 20px;
    position: relative;
    text-align: left;
  }
}