/* Jumbotron */
.jumbotron{
  background: var(--color-bg-3);
  position: relative;
  text-align: right;
  padding: 0px;
  margin-bottom: 0px;
}
#jumbotron-text{
  position: absolute;
  color: white;
  text-shadow: 1px 1px 2px black;
}
@media (min-width: 1200px) { /* xl */
  #jumbotron-text{
    top: 200px;
    right: 50px;
  }
  #jumbotron-text h2{
    font-size: 4rem;
  }
  #jumbotron-text p{
    font-size: 1.43rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #jumbotron-text{
    top: 180px;
    right: 40px;
  }
  #jumbotron-text h2{
    font-size: 3.5rem;
  }
  #jumbotron-text p{
    font-size: 1.25rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #jumbotron-text{
    top: 60px;
    right: 30px;
    width: 60%;
  }
  #jumbotron-text h2{
    font-size: 4rem;
  }
  #jumbotron-text p{
    font-size: 1.4rem;
  }  

}
@media (min-width: 576px) and (max-width: 767px) {
  #jumbotron-text{
    top: 60px;
    right: 20px;
    width: 50%;
  }
  #jumbotron-text h2{
    font-size: 2.5rem;
  }
  #jumbotron-text p{
    font-size: 0.9rem;
  } 

}
@media (min-width: 380px) and (max-width: 575px) { /* xs */
  #jumbotron-text{
    top: 30px;
    right: 20px;
    width: 60%;
  }
  #jumbotron-text h2{
    font-size: 1rem;
  }
  #jumbotron-text p{
    font-size: 1rem;
  }
}
@media (max-width: 379px) {
  #jumbotron-text{
    top: 10px;
    right: 10px;
    width: 50%;
  }
  #jumbotron-text h2{
    font-size: 1rem;
  }
  #jumbotron-text p{
    font-size: 0.9rem;
  }
}

#jumbotron-subtext{
  background: var(--color-bg-3);
  border-radius: 0px 0px 10px 10px;
  padding: 40px;
  margin-bottom: 80px;        
}
#jumbotron-subtext p{
  font-size: 1.2em;
  line-height: 30px;
  margin-bottom: 8px;
  text-align: center;
}

/* about the site section */
#about-site-container div{
  padding: 40px;
}
#about-site-container p{
  text-align: center;
}
#about-site-container a{
  font-weight: bold;
}


/* sites section */
.sites-list-container{
  background: var(--color-bg-3);
  border-radius: 10px;
  padding:  20px;
  margin-bottom: 20px;
}
.sites-list-container h4{
  font-size: 1.8em;
  font-weight: bold;
}
.sites-list-container p{
  margin-bottom: 8px;
  line-height:  20px;
}