@media (min-width: 768px) { /* md */
  .minisite-info{
    background-image: none;
  }
  .minisite-info-image{    
    background-image: url("/images/design/snake.jpg");    
  }
}
@media (max-width: 767px) { /* sm */
  .minisite-info{
    background-image :url("/images/design/snake-dark.jpg");
  }   
  .minisite-info-image{
    display: none;
  }
}



#game-controls{
  margin-bottom: 20px;
}
#game-controls div{
  display: inline-block;
}
@media (min-width: 768px) {
  #speed-controls button{
    height: 60px;
    width: 60px;
  }
  #game-controls .bordered-box{
    width: 50px;
    text-align: center;
  }
  .game-controls-label, .game-controls-display {
    font-size: 1.4rem;
  }
}
@media (max-width: 768px) {
  #speed-controls button{
    height: 7vw;
    width: 7vw;
    padding: 0px;
    font-size: 3vw;
  }
  .btn-hs{
    height: 7vw;
    padding: 0px 1vw;
    font-size: 3vw;
  }
  #game-controls .bordered-box{
    width: 7vw;
    text-align: center;
  }
  .game-controls-label, .game-controls-display {
    font-size: 2.5vw;
  }
}



#snake-game{
  margin-bottom: 20px;  
}
#snake-game canvas{
  border: 5px solid black;
  background: var(--color-bg-01);
}

#highscore{
/*  background: var(--color-bg-03);*/
}

@media (min-width: 1400px) {
  #snake-game canvas{
    height: 715px;
    width: 1310px;
  }  
}
@media (min-width: 1200px) and (max-width: 1399px) {
  #snake-game canvas{
    height: 616px;
    width: 1120px;
  }  

}
@media (min-width: 992px) and (max-width: 1199px) {
  #snake-game canvas{
    height: 517px;
    width: 940px;
  }  
  
}
@media (min-width: 768px) and (max-width: 991px) {
  #snake-game canvas{
    height: 385px;
    width: 700px;
  }  

}
@media (min-width: 576px) and (max-width: 767px) {
  #snake-game canvas{
    height: 286px;
    width: 520px;
  }
  
}
@media (min-width: 380px) and (max-width: 575px) {
  #snake-game canvas{
    height: 187px;
    width: 340px;
  }
}
