@media (min-width: 768px) { /* md */
  .minisite-info{
    background-image: none;
  }
  .minisite-info-image{    
    background-image: url("/images/design/Nokia_snake.jpg");    
  }  

}
@media (max-width: 767px) { /* sm */
  .minisite-info-image{
    display: none;
  }
  .minisite-info{
    background-image: url("/images/design/Nokia_snake-dark.jpg");
  }   
}

#snake-game{
  
}
#snake-game canvas{
  border: 5px solid black;
  background: var(--color-bg-01);

/*  height: 220px;
  width: 400px;*/
}

@media (min-width: 1400px) { /* xxl */
  #snake-game canvas{
    height: 720px;
    width: 1320px;
  }  
}
@media (min-width: 1200px) and (max-width: 1399px) {
  #snake-game canvas{
    height: 620px;
    width: 1140px;
  }  

}
@media (min-width: 992px) and (max-width: 1199px) {
  #snake-game canvas{
    height: 520px;
    width: 960px;
  }  
  
}
@media (min-width: 768px) and (max-width: 991px) {
  #snake-game canvas{
    height: 380px;
    width: 720px;
  }  

}
@media (min-width: 576px) and (max-width: 767px) {
  #snake-game canvas{
    height: 297px;
    width: 540px;
  }  
  
}
@media (min-width: 380px) and (max-width: 575px) { /* xs */
  #snake-game canvas{
    height: 180px;
    width: 340px;
  }
}
