/* News display */
.article-summary {
  /*height:  400px;*/
  margin-bottom:  30px;
  /*overflow-y: hidden;*/
}
.article-summary img {
  border: 3px solid var(--color-border-1);
  border-radius: 10px;
}
.lead-paragraph {
  font-weight: bold;
}
blockquote {
  border-left: 10px solid var(--color-border-1);
  padding: 10px 0px 10px 40px;        
  font-weight: bold;
}
h3 {
  margin-top: 20px;
}
.article-author-date {
  font-size: 0.8em;
  font-weight: bold;
}
figcaption {
  font-size: 0.8em;
  font-weight: bold;
}

/* news editor article list */
.editor-list-buttons {
  margin-top: 10px;
}
.editor-button-container {
  width: 100%;
  padding: 5px 15px 5px 15px;
}
.editor-button-container button {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 100px;
  width: 100%;
}
.editor-list-buttons .editor-button-container span {
  font-size: 3rem;
}
.editor-list-buttons .editor-button-container div {
  font-size: 1.2rem;
}

.editor-buttons .editor-button-container span {
  font-size: 2.8rem;
}
.editor-buttons .editor-button-container div {
  font-size: 0.9rem;
  line-height: 1;
}

/* news article editor */
#editor-tools {
  background: var(--color-bg-3);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}
.article-input {
  border: none;
  color: inherit;
  font: inherit;
  background: inherit;
  width: 100%;
}
.article-input:hover {
  background-color: var(--color-bg-1);
  border-radius: 2px;
}
.article-input:focus {
  outline: 1px solid var(--color-border-2);
  border-radius: 2px;
  background-color: #fafafa;
}
.article-input-group .toolbar {
  display: none;
}
.article-input-group:focus-within .toolbar {
  display: inline;
}
.article-input-group,
.article-input-group textarea{
  position: relative;
}
.edit{
  position: absolute;
  top: 0px;
  right: -25px;
}
.edit:hover{
  cursor: pointer;
}
.article-input-group:focus-within .edit {
  display: none;
}
.drag-indicator-icon {
  cursor: grab;
}
.drag-indicator-icon:active {
  cursor: grabbing;
}
.delete-icon, .refresh-icon {
  cursor: pointer;
} 
.article-input     
.img-toolbar {
  display: block;
}
.image-input {
  display: inline;          
  width: 100%;
}
.img-pseudobutton {
  border: none;
  background-color: inherit;
}
.img-pseudobutton:hover {
  opacity: 0.8;
}
.img-url-list {
  margin-left: auto;
  margin-right: 15px
}
#delete-save-publish div {
  margin-bottom:  16px;
}