#fileuploader-dropzone{
  height: 200px;
  position:  relative;
}

#fileuploader-dropzone > label{
  /* Horizontal and vertical centering */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

#submit-button{
  display:  block;
  margin-bottom:  30px;
  margin-top: 30px;
  width:  100%;
}
#progress-display{
  height:  0%;
  width:  100%;
  background:  #00000044;

  position:  absolute;
  bottom:  0px;
}
#selected-files{
  list-style-type:  none;
  font-weight: 500;
}