  <footer>
    <div class = "container">
      <div class = "footer-urls">
        <a href = "https://github.com/stregie/about-me-v2"><img src = "/images/header-footer/github-mark-white.png"></a>
        <a href = "https://www.linkedin.com/in/solymostamas/"><img src = "/images/header-footer/LinkedIn-white.png "></a>
      </div>
    </div>
   
  </footer>
</body>
</html>