<%# <html> %>
<%- include('00a_header.ejs') %>
    <link rel = "stylesheet" href = "/css/00_404.css">

    <div id = "error404-page">
      <h1>404 - Not found</h1>
      <p>This page does not exist</p>
    </div>

<%- include('00b_footer.ejs') %>
<%# </html> %>