<%# <html> %>
<%- include('00a_header.ejs') %>
  <link rel = "stylesheet" href = "/css/01_home.css">
  <script src = "/js/01_main.js"></script>


  <section id = "maincontent">
    <div id = "welcome">
      <img id = "welcome-image" src = "/images/main/st.jpg" class = "img-fluid">
      <div id = "welcome-text-container">
        <h2>Hi, I'm Tamás Solymos</h2>
        <p>And here's what I'm capable of</p>
      </div>
    </div>



    <div id = "main-introduction" class = "content-block">
      <div class = "container">
        <div class = "row">
          <div class = "col-sm-12">
            <div>I am a chemical engineer from pharma R&D, learning web development since 2021.<br>
            This site was built to demonstrate my skills.</div>
          </div>
        </div>
      </div>
    </div>



    <div class = "content-block">
      <div class = "container">
        <div class = "row">
          <div class = "col-sm-12 col-lg-7">
            <div class = "content-block-item">
              <h3>Aim for full-stack</h3>
              <p>Specialization is essential, but at this point I tried to strike a balance between learning frontend and backend development to be able to create a fully functional website. For this site, I used the following languages, technologies and concepts:</p>
              <p><b>Frontend:</b> HTML, CSS, JavaScript (ES6+), Bootstrap 5, jQuery, React, TypeScript<br>
              <b>Backend:</b> Node.js (Express), npm, REST APIs, MongoDB, PostgreSQL, AWS S3</p>
              <p>I also learned the basics of Vue.Js, Next.js, Sass, Tailwind CSS, Django (Python), although I haven't yet finished any projects with them suitable for showcase.</p>
            </div>
            
            <div class = "content-block-item">
              <h3>Scientific background</h3>
              <p>My experience in pharmaceutical industry and my educational background provides numerous transferable skills such as analytical thinking, attention to details, ability to break down complex problems into their simple elements, adaptability and continuous learning.</p>
            </div>
            
            <div class = "content-block-item">
              <h3>Solid fundamentals</h3>
              <p>Even if a ready-to-use solution was available, I wrote the majority of the code from scratch whenever I could to gain a deeper understanding of the underlaying concepts. As I experienced, this approach also provided the ability adopt new libraries and frameworks with ease.</p>
            </div>
          </div>
            
          <div class = "col-sm-12 col-lg-5 d-flex">
            <img src = "/images/main/laptop-desk.jpg" class = "img-fluid align-self-center">
          </div>
        </div>
      </div>
    </div>



    <div class = "content-block">
      <div class = "container">
        <div class = "row">
          <div class = "col-sm-10 offset-sm-1 content-block-top-text">
            <h2>Mini-sites</h2>
            <p>Each mini-site represents a different technology and follows my learning curve. Neither of them was created by following a step-by-step tutorial. And why the railway-theme? Well, it all started when I was looking for an image while learning the Node.js framework <i>Express</i>.</p>
            <p>The repositories for the site on Github can be found here:</p>
            <p>Node.js app: <a href = "https://github.com/stregie/about-me-v2">https://github.com/stregie/about-me-v2</a><br>
            React - TypeScript app (Gallery module only): <a href = "https://github.com/stregie/about-me-react-ts">https://github.com/stregie/about-me-react-ts</a></p>
          </div>
        </div>

        <div class = "row">
          <div class = "col-sm-6 col-lg-4 g-2">
            <a href = "/snake/"><div class = "main-minisite-item">
              <h4>Snake</h4>
              <div class = "main-minisite-image">
                <img class = "img-fluid" src = "/images/main/snake2.jpg">
                <div class = "main-minisite-item-text">
                  In-browser version of the classic snake game, created with native JavaScript. Highscores are stored in a PostgreSQL database.<br><br>
                  The game can be played both on desktop and mobile.
                </div>
              </div>
            </div></a>
          </div>

          <div class = "col-sm-6 col-lg-4 g-2">
            <a href = "/news/"><div class = "main-minisite-item">
              <h4>News</h4>
              <div class = "main-minisite-image">
                <img class = "img-fluid" src = "/images/main/news.jpg">
                <div class = "main-minisite-item-text">
                  Displays articles stored in MongoDB.<br><br>
                  It could fulfill the requirements of a personal or a small business site.
                </div>
              </div>
            </div></a>
          </div>

          <div class = "col-sm-6 col-lg-4 g-2">
            <a href = "/news/editor/"><div class = "main-minisite-item">
              <h4>Article Editor</h4>
              <div class = "main-minisite-image">
                <img class = "img-fluid" src = "/images/main/editor.jpg">
                <div class = "main-minisite-item-text">
                  A WYSIWYG editor created with a nifty CSS trick for the news section to write or edit articles.
                </div>
              </div>
            </div></a>
          </div>

          <div class = "col-sm-6 col-lg-4 offset-lg-2 g-2">
            <a href = "/fileuploader/"><div class = "main-minisite-item">
              <h4>File uploader</h4>
              <div class = "main-minisite-image">
                <img class = "img-fluid" src = "/images/main/file-uploader.jpg">
                <div class = "main-minisite-item-text">
                  Drag & drop or browse files to upload.<br><br>
                  Files are stored in Amazon S3 cloud storage.
                </div>
              </div>
            </div></a>
          </div>

          <div class = "col-sm-6 offset-sm-3 col-lg-4 offset-lg-0 g-2">
            <a href = "/react/gallery/"><div class = "main-minisite-item">
              <h4>Gallery</h4>
              <div class = "main-minisite-image">
                <img class = "img-fluid" src = "/images/main/gallery.jpg">
                <div class = "main-minisite-item-text">
                  Browse images and display the selected using a modal.<br><br>
                  Created with React in TypeScript using Vite.
                </div>
              </div>
            </div></a>
          </div>
        </div>         
      </div>
    </div>



   <div id = "contact" class = "content-block">
      <div class = "container">
        <div class = "row">
          <div class = "col-sm-8 offset-sm-2 content-block-top-text">
            <h2>Contact</h2>
            <p>If you liked the page, feel free to write a message here or you can contact me via e-mail or phone.</p>
          </div>
        </div>

        <div id = "contact-form-container">
          <form id = "contact-form" name = "contact-form">
            <div class = "row" style = "margin-bottom: 3.4px">
              <div id = "contact-name" class = "col-lg-4">
                <input type = "text" name = "contact-name" class = "form-control" maxlength = "127" placeholder = "Name">
                <div class = "contact-feedback hidden">Please enter your name</div>
              </div>

              <div id = "contact-company" class = "col-lg-4">
                <input type = "text" name = "contact-company" class = "form-control" maxlength = "127" placeholder = "Company"> 
                <div class = "contact-feedback hidden">Please enter the name of your company</div>
              </div>

              <div id = "contact-mail" class = "col-lg-4">
                <input type = "text" name = "contact-mail" class = "form-control" maxlength = "127" placeholder = "E-mail"> 
                <div class = "contact-feedback hidden">Please enter a valid e-mail address</div>
              </div>
            </div>

            <div class = "row">
              <div id = "contact-message" class = "col">
                <textarea name = "contact-message" class = "form-control" rows = "6" maxlength = "10000" placeholder = "Message" ></textarea>
                <div class = "contact-feedback hidden">Please write a message</div>
              </div>
            </div>

            <div class = "row">
              <div class = "col-lg-3 offset-lg-9">
                <button id = "contact-submit" type = "button" form = "contact" class = "btn btn-simple btn-block">Send</button>
              </div>
            </div>
          </form>

          <div id = "submit-response" class = "hidden">
            <h2 id = "submit-success" class = "d-none">Your message was sent successfully.</h2>
            <h2 id = "submit-fail" class = "d-none">Delivery failed due to network error.</h2>
          </div>
        </div>
       <!--  <div class = "row">
          <div class = "col-lg-3">
            <button id = "contact-switch" type = "button" form = "contact" class = "btn btn-simple btn-block">Switch</button>
          </div>
        </div> -->
      </div>
    </div>
  </section>

  <%# </html> %>
<%- include('00b_footer.ejs') %>