<%# <html> %>
<%- include('00a_header.ejs') %>
    <link rel = "stylesheet" href = "/css/01_main.css">    

    <div class="container">
      <div class="jumbotron jumbotron-fluid">
        <img src = "/images/main/me.jpg" class = "img-fluid">
        <div id = "jumbotron-text">
          <h2 class="display-4">Hi, I'm Tamás Solymos</h2>
          <p class="lead">And here's what I have learned so far</p>
        </div>
      </div>
    </div>

    <div class = "container">
      <div id = "jumbotron-subtext">
        <p>I started coding by myself in January of 2021</p>
        <p>First, I learned the basics of HTML, CSS and JavaScript, then Node.js, now focusing on React</p>
        <p>The purpose of the site is to demonstrate what I am capable of</p>
      </div>
    </div>

    <div id = "about-site-container" class = "container">
      <h1>about the site</h1>
      <div>
        <p>The site is responsive, I used <strong>Bootstrap v4.6</strong>. For some parts I used native <strong>JavaScript</strong>, but I also used the <strong>jQuery</strong> library. Backend was written in <strong>Node.js</strong> using <strong>Express</strong>. The templating language is <strong>EJS</strong>. I used <strong>Git</strong> for version controlling. The site is deployed on <strong>Cyclic</strong> (obviously), a free alternative of <strong>Heroku</strong>. I use <strong>PostgreSQL</strong> and the <strong>no-SQL</strong> database <strong>MongoDB</strong>.</p>
        <p>Each site in the <strong>'things I can do'</strong> section represents a different skill. Neither of them was created by following a step-by-step tutorial. The next improvement will be integrating <strong>AWS S3</strong> to the file uploader and a sign in / out feature using <strong>Passport.js</strong> to restrict the news editor for authenticated users only.</p>
        <p>Currently I am focusing on <strong>React</strong>, also plan to learn the basics of <strong>Angular</strong> and later on, <strong>Python</strong>.</p>
        <p>Repository of the Node.js app: <a href = "https://github.com/stregie/about-me">https://github.com/stregie/about-me</a><br>
        Repository of the React app: <a href = "https://github.com/stregie/about-me-reactdev">https://github.com/stregie/about-me-reactdev</a></p>
      </div>
    </div>

    <div id = "sites-list" class = "container">
      <h1>sites</h1>
        <div class = "sites-list-container col-xl-10 offset-xl-1">
          <div class = "row">
            <div class = "col-md-4">
              <a href = "/snake/"><img class = "img-fluid bordered-box" src = "/images/main/snake.jpg"></a>
            </div>
            <div class = "col">
              <a href = "/snake/"><h4>Snake</h4></a>
              <p>In-browser version of the classic snake game, created with native JavaScript. Highscores are stored in a PostgreSQL database.</p>
              <p>The game can be played on desktop only.</p>
            </div>
          </div>
        </div>

        <div class = "sites-list-container col-xl-10 offset-xl-1">
          <div class = "row">
            <div class = "col-md-4">
              <a href = "/news/"><img class = "img-fluid bordered-box" src = "/images/main/news.jpg"></a>
            </div>
            <div class = "col">
              <a href = "/news/"><h4>News section</h4></a>
              <p>Displays articles stored in MongoDB.</p>
              <p>It could fulfill the requirements of a personal or a small business site.</p>
            </div>
          </div>
        </div>

        <div class = "sites-list-container col-xl-10 offset-xl-1">
          <div class = "row">
            <div class = "col-md-4">
              <a href = "/news/editor/"><img class = "img-fluid bordered-box" src = "/images/main/editor.jpg"></a>
            </div>
            <div class = "col">
              <a href = "/news/editor/"><h4>Editor</h4></a>
              <p>A WYSIWYG editor created with a nifty CSS trick for the news section to write or edit articles.</p>
            </div>
          </div>
        </div>

        <div class = "sites-list-container col-xl-10 offset-xl-1">
          <div class = "row">
            <div class = "col-md-4">
              <a href = "/fileuploader/"><img class = "img-fluid bordered-box" src = "/images/main/file-uploader.jpg"></a>
            </div>
            <div class = "col">
              <a href = "/fileuploader/"><h4>File uploader</h4></a>
              <p>Drag & drop or browse files to upload.</p>
              <p>Files are stored in Amazon S3 cloud storage.</p>
            </div>
          </div>
        </div>

        <div class = "sites-list-container col-xl-10 offset-xl-1">
          <div class = "row">
            <div class = "col-md-4">
              <a href = "/react/gallery/"><img class = "img-fluid bordered-box" src = "/images/main/gallery.jpg"></a>
            </div>
            <div class = "col">
              <a href = "/react/gallery/"><h4>Gallery</h4></a>
              <p>Browse images and display the selected using a modal. Created in React.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
<%- include('00b_footer.ejs') %>
<%# </html> %>