<%# <html> %>
<%- include('00a_header.ejs') %>
    <link rel = "stylesheet" href = "/css/02_aboutme.css">

    <div id = "top-parallax" class = "parallax"></div>

    <div class = "content-block">
      <div class = "container">
        <div class = "row">
          <div class = "d-none d-lg-block col-lg-5 d-flex">
            <img src = "/images/aboutme/bme.jpg" class = "img-fluid align-self-center">
          </div>

          <div class = "col-lg-7">
            <div class = "content-block-item">
              <h3>University</h3>
              <p>I graduated as a Chemical Engineer from the Technical University of Budapest specializing on Analytical Chemistry and Structure Elucidation. My main focus near graduating was gas and liquid chromatography which is used for identifying and determining the quantity of each compound in multi-component samples, even if the said component is present as one part per million.</p>
              <p>Apart from the chemistry-related knowledge I gained I am mostly grateful for the scientific mindset it gave and the practical approach to solve problems.</p>
            </div>
          </div>

          <div class = "d-block d-lg-none d-flex">
            <img src = "/images/aboutme/bme.jpg" class = "img-fluid align-self-center">
          </div>
        </div>
      </div>
    </div>



    <div class = "content-block">
      <div class = "container">
        <div class = "row">
          <div class = "col-sm-12 col-lg-7">
            <div class = "content-block-item">
              <h3>Pharmaceutical Industry</h3>
              <p>Currently I work in a Research & Development laboratory at Egis Pharmaceuticals PLC. This laboratory uses solid-state analysis techniques such as X-ray Powder Diffraction, Thermal Analysis, Laser-Diffraction or Polarized Light Microscopy to determine and improve the properties of drugs.</p>
              <p>This requires good observation, precision, creativity and surprisingly, good communication skills to present your ideas on meetings, to keep contact with investors and foreign authorities or to resolve disagreements with suppliers.</p>
            </div>
          </div>

          <div class = "col-sm-12 col-lg-5 d-flex">
            <img src = "/images/aboutme/egis.jpg" class = "img-fluid align-self-center">
          </div>
        </div>
      </div>
    </div>



    <div class = "content-block">
      <div class = "container">
        <div class = "row">
          <div class = "col-sm-12 col-lg-7">
            <div class = "content-block-item">
              <h3>Learning web-development</h3>
              <p>I began studying by myself in 2021 from online courses, with the help of a friend who teaches web development by profession. My first focus was on the fundamentals of HTML, CSS, JavaScript, followed by Node.js and then, React. After learning the ropes of each topic, I completed numerous examples and created small projects to gain a deeper knowledge, until I was able to combine them into well-integrated systems.</p>
              <p>Finding the time and motivation for learning after work hours required dedication and eventually led to a significant improvement in self-discipline, which I consider as the most valuable achievement during this period apart from the coding knowledge I gained.</p>
            </div>
          </div>

          <div class = "col-sm-12 col-lg-5">
            <p><b>List of courses I have taken:</b></p>
            <ul>
              <li>John Hopkins University - HTML, CSS, and Javascript for Web Developers on <a href = "https://www.coursera.org/learn/html-css-javascript-for-web-developers/">Coursera</a></li>
              <li>IBM - Developing Back-End Apps with Node.js and Express on <a href = "https://www.coursera.org/learn/developing-backend-apps-with-nodejs-and-express/">Coursera</a></li>
              <li>Meta - React Basics on <a href = "https://www.coursera.org/learn/react-basics/">Coursera</a></li>
              <li>Meta - Advanced React on <a href = "https://www.coursera.org/learn/advanced-react/home/welcome">Coursera</a></li>
              <li><a href = "https://www.w3schools.com/">W3Schools</a> tutorials for basically every topic I have ever encountered</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    

    <div id = "last-content-block" class = "content-block">
      <div class = "container">
        <div class = "row">
          <div class = "offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
            <div class = "content-block-item">
              <h3>Free time</h3>
              <p>When I have the opportunity, I engage in outdoor activities whether it is a hike in the mountains, a bicycle tour or exploring the Danube on a kayak. Recently I even started learning to sail on lake Balaton. I also practice Kungfu for many years now, this can be considered as my main sport.</p>
              <p>Music is my other passion, I often visit live music events mostly from the underground scenes. Although I never played any instrument. Who knows, maybe one day...</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id = "bottom-parallax" class = "parallax"></div>

<%- include('00b_footer.ejs') %>
<%# </html> %>