<%# <html> %>
<%- include('00a_header.ejs') %>
    <link rel = "stylesheet" href = "/css/00_general.css">  
    <link rel = "stylesheet" href = "/css/05_news.css">  
    <style>
      ul {
        list-style-type: none;
      }
      li {
        margin-bottom: 5px;
      }
    </style>
    
    <div class = "container">
      <h1>images for the news editor</h1>
      <p><strong>Copy and paste the links to the input field under the placeholder</strong></p>
      <p>The editor combined with the file uploader would be more user-friendly. Until this is completed, only pre-uploaded images can be inserted to the articles.</p>
      <ul>
        <% fileNames.forEach(file => { %>
        <li><button class = "btn btn-simple copy-to-clipboard">Copy to Clipboard</button> <span class = "img-url"><a href = "/images/news/<%=file%>">/images/news/<%=file%></a></span></li>
        <% }); %>
      </ul>
    </div>

    <script>
      $(document).ready(function(){
        $('.copy-to-clipboard').click(function(){
          let link = $(this);
          let url = $(link).parent().find('.img-url').text();
          navigator.clipboard.writeText(url);
          $(link).text("copied");
          setTimeout(function(){
            $(link).text("Copy to Clipboard");          
          }, 3000);
        });        
      });


    </script>

<%- include('00b_footer.ejs') %>
<%# </html> %>