<%# <html> %>
<%- include('00a_header.ejs') %>
    <link rel = "stylesheet" href = "/css/06_fileuploader.css">

    <div class = "minisite-info">
      <div class = "container">
        <div class = "row">
          <div class = "minisite-info-text col-md-7 col-lg-8">
            <h1>File uploader</h1>
            <p>The uploaded files are stored in <b>Amazon S3</b> cloud service. The maximum upload size is limited to <b>4MB</b>.</p>
            <p>File streams would be the best solution to handle large files. Unfortunately streaming requests or responses is not allowed with Cyclic.</p>
          </div>
        </div>
      </div>
      <div class = "minisite-info-image d-none d-md-block">
      </div>
    </div>  

    <section id = "fileuploader-minisite">
      <div class = "container">
        <div class = "col-md-8 offset-md-2">
          <form id = "fileuploader-dropzone" name = "fileuploader-dropzone" enctype = "multipart/form-data">
            <input type = "file" name = "fileuploader-input" id = "fileuploader-input" class = "d-none" multiple = "">
            <label for = "fileuploader-input">Drag and drop files or click to browse.</label>
            <div id = "progress-display">
            </div>
          </form>
          <button id = "submit-button" class = "btn btn-simple">Upload</button>
        </div>

        <div id = "selected-files-container" class = "col-md-8 offset-md-2">
          <h5>Files selected to upload</h5>
          <ul id = "selected-files">
            <li>None</li>
          </ul>
        </div>
      </div>

      <div class = "table-responsive-lg container-md">
        <table id = "filelist-table" class = "table table-dark table-striped table-borderless">
          <thead>
            <tr>
              <th id = "filelist-table-title" colspan = "5">Files uploaded to the server</th>
            </tr>
            <tr>
              <th scope = "col">#</th>
              <th scope = "col">File name</th>
              <th scope = "col">File size</th>
              <th scope = "col">Download</th>
              <th scope = "col">Delete</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      
    </section>

    <script src = "/js/06_fileuploader.js"></script>

<%- include('00b_footer.ejs') %>
<%# </html> %>