<%# <html> %>
<%- include('00a_header.ejs') %>

    <div class = "minisite-info">
      <div class = "container">
        <div class = "row">
          <div class = "minisite-info-text col-md-7 col-lg-8">
            <h1>Gallery</h1>
            <p>Etiam fermentum enim eget nunc gravida, eu cursus justo eleifend. In condimentum venenatis metus, eget lobortis sapien semper tincidunt. Sed metus libero, viverra nec est vitae, bibendum varius tortor. Nunc sed quam a sapien facilisis mattis. Donec nec orci at lectus consectetur egestas vitae eget augue.</p>
            <!-- <p>Etiam fermentum enim eget nunc gravida, eu cursus justo eleifend. In condimentum venenatis metus, eget lobortis sapien semper tincidunt. Sed metus libero, viverra nec est vitae, bibendum varius tortor. Nunc sed quam a sapien facilisis mattis. Donec nec orci at lectus consectetur egestas vitae eget augue. Nunc posuere lacus nulla, a lacinia magna consectetur at. Duis placerat, ante vel accumsan auctor, ex metus euismod purus, et commodo diam leo vel nibh.</p> -->
          </div>
        </div>
      </div>
      <div class = "minisite-info-image d-none d-md-block">
      </div>
    </div>

    <script defer="defer" src="/react/static/js/main.70cbae79.js"></script><link href="/react/static/css/main.aaccb433.css" rel="stylesheet">

    <noscript>You need to enable JavaScript to run this app.</noscript><div id="root"></div>
<%- include('00b_footer.ejs') %>
<%# </html> %>