:root {
  /* universal colors */
  --color-bg-navbar-01: #000000;
  --color-bg-navbar-02: #333333;
  --color-item-01: orange;
  --color-txt-navbar: #FFFFFF;
}
html{
  box-sizing: border-box;
  background: #888;
}
.navigation-bar {
  --lh: 90px;
  background: var(--color-bg-navbar-01);
  font-family: "Inter", "Arial", sans-serif;
  font-size: 1.2rem;
  line-height: var(--lh);
}
.navigation-bar a{
  color: var(--color-txt-navbar);
  padding: 6px 20px 0px 20px;
  text-decoration: none;
  vertical-align: middle;
}
.navigation-brand {
  display: inline-block;
  font-size: 2.8rem;
  font-weight: 900;
}

/* Responsible navbar - expand / collapse */
#navigation-expand-button {
  background: inherit;
  border: none;
  color: var(--color-txt-navbar);
}
@media (min-width: 576px){
  #navigation-expand-button {
    display: none;
  }
  #navigation-items{
    display: inline-block;
  }
  .navigation-item{
    display: inline-block;
    position: relative;  
  }
  .navigation-item:hover{
    color: var(--color-txt-navbar);
  }
  .navigation-item:after{
    background: var(--color-item-01);  
    bottom: 0;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    transition: 0s;
    width: 0%;
  }
  .navigation-item:hover:after{
    transition: 0.3s;
    width: 100%;
  }
}
@media (max-width: 576px){
  #navigation-expand-button {
    display: inline-block;
    float: right;
    height: 100%;
    width: var(--lh);
  }
  #navigation-items{
    display: block;
    max-height: auto;
    transition: 'max-height' 0.2s;
  }
  #navigation-items.hidden{
/*    display: none;*/
    transition: 'max-height' 0.2s;
    max-height: 0px;
    overflow: hidden;
  }
  .navigation-item {
    display: block;
/*    display: none;*/
    background-color: var(--color-bg-navbar-02);
    border-bottom: 2px solid var(--color-bg-navbar-01);
    line-height: 50px;
  }
}




#test {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 46px;
  font-weight: 900;
  background: #AAA;
}

/*  --color-bg-1: #f2f8f3ff;
  --color-bg-2: #d6eadcff;
  --color-bg-3: #bbddc3ff;
  --color-bg-4: #9fd0a9ff;
  --color-border-1: #3a7d44ff;
  --color-border-2: #1a381eff;
  /*--color-item-0: #fff;*/
  /*--color-item-1: #f2f8f3ff;*/
  /*--color-item-2: #9fd0a9ff;*/
/*  --color-item-3: #3a7d44ff;
  --color-item-4: #1a381eff;*/
  /*--color-text-1: #000;*/
  /*--color-text-2: #3a7d44ff;
  --color-text-3: #2A5B31ff;
  --color-text-4: #1a381eff;*/