<%# <html> %>
<%- include('00a_header.ejs') %>
  <link rel = "stylesheet" href = "/css/redesign/01_home.css">


  <section id = "maincontent">
    <div id = "welcome">
      <img id = "welcome-image" src = "/images/design/me-gamma07.jpg" class = "img-fluid">
      <div id = "welcome-text-container">
        <h2>Hi, I'm Tamás Solymos</h2>
        <p>And here's what I'm capable of</p>
      </div>
    </div>


    <div class = "content-block">
      <div class = "container">
        <div class = "row">
          <div class = "col-sm-12 content-block-top-text">
            <h1>About me</h1>
            <p>I am a chemical engineer from pharma R&D, learning web development since 2021.<br>
            This site was built to demonstrate my skills.</p>
            <a href = "#">Read more</a>
          </div>
        </div>
      </div>
    </div>

    <div class = "content-block">
      <div class = "container">
        <div class = "row">
          <div class = "col-sm-12 col-lg-7">
            <h3>Aim for full-stack</h3>
            <p>Specialization is essential, but at this point I tried to strike a balance between learning frontend and backend development to be able to create a fully functional website. For this site, I used the following technologies:</p>
            <!-- <p>For a fully functional website, an intuitive and aesthetic interface is just as important as a sturdy app on server side, therefore I spent equal focus on both. For this site, I used the following technolgies, libraries and frameworks:</p> -->
            <!-- Possibilities: elegant UI, sturdy server side; client-side, server-side;  -->
            <p><b>Frontend:</b> HTML, CSS, JavaScript, Bootstrap, jQuery, React<br>
            <b>Backend:</b> Node.js (Express), MongoDB, PostgreSQL, AWS S3</p>
            
            <h3>Self-educated, guided by a mentor</h3>
            <p>Review process, online courses (Coursera, Udemy), incorporating feedback, </p>

            <h3>Scientif mindset</h3>
            <p>
            
            <h3>From scratch</h3>
            <p>Even if a ready-to-use solution was available, I wrote the majority of the code myself to understand the fundamental concepts behind them. As I experienced, this approach also provided the ability to think outside the box while using frameworks.</p>
            <!-- Even though pre-built frameworks were available, I wrote the majority of the code myself to gain a deeper understanding of the fundamental concepts behind them. This approach allowed me to approach problems from a fresh perspective, leading to more innovative solutions. -->
            <h3></h3>
            <p>Incorporating feedback .</p>
          </div>

          <div class = "col-sm-12 col-lg-5 d-flex">
            <img src = "/images/design/laptop-desk-800.jpg" class = "img-fluid align-self-center">
          </div>
        </div>
      </div>
    </div>

    <style>
      
    </style>

    <div class = "content-block">
      <div class = "container">
        <div class = "row content-block-top-text">
          <h1>Mini-sites</h1>
          <p>Each minisite represents a different skill or technology and follows my learning curve. Neither of them was created by following a step-by-step tutorial. Check them out!</p>
          <p>The repositories for the site on Github can be found here:</p>
          <p>Node.js app: <a href = "https://github.com/stregie/about-me">https://github.com/stregie/about-me</a><br>
          React app: <a href = "https://github.com/stregie/about-me-reactdev">https://github.com/stregie/about-me-reactdev</a></p>
        </div>

        <div class = "row">
          <div class = "col-sm-6 col-lg-4 g-2">
            <a href = "/snake/"><div class = "main-minisite-item">
              <h4>Snake</h4>
              <div class = "main-minisite-image">
                <img class = "img-fluid" src = "/images/main/snake.jpg">
                <div class = "main-minisite-item-text">
                  In-browser version of the classic snake game, created with native JavaScript. Highscores are stored in a PostgreSQL database.<br><br>
                  The game can be played on desktop only.
                </div>
              </div>
            </div></a>
          </div>

          <div class = "col-sm-6 col-lg-4 g-2">
            <a href = "/news/"><div class = "main-minisite-item">
              <h4>News</h4>
              <div class = "main-minisite-image">
                <img class = "img-fluid" src = "/images/main/news.jpg">
                <div class = "main-minisite-item-text">
                  Displays articles stored in MongoDB.<br><br>
                  It could fulfill the requirements of a personal or a small business site.
                </div>
              </div>
            </div></a>
          </div>

          <div class = "col-sm-6 col-lg-4 g-2">
            <a href = "/news/editor/"><div class = "main-minisite-item">
              <h4>Article Editor</h4>
              <div class = "main-minisite-image">
                <img class = "img-fluid" src = "/images/main/editor.jpg">
                <div class = "main-minisite-item-text">
                  A WYSIWYG editor created with a nifty CSS trick for the news section to write or edit articles.
                </div>
              </div>
            </div></a>
          </div>

          <div class = "col-sm-6 col-lg-4 offset-lg-2 g-2">
            <a href = "/fileuploader/"><div class = "main-minisite-item">
              <h4>File uploader</h4>
              <div class = "main-minisite-image">
                <img class = "img-fluid" src = "/images/main/file-uploader.jpg">
                <div class = "main-minisite-item-text">
                  Drag & drop or browse files to upload.<br><br>
                  Files are stored in Amazon S3 cloud storage.
                </div>
              </div>
            </div></a>
          </div>

          <div class = "col-sm-6 offset-sm-3 col-lg-4 offset-lg-0 g-2">
            <a href = "/news/editor/"><div class = "main-minisite-item">
              <h4>Gallery</h4>
              <div class = "main-minisite-image">
                <img class = "img-fluid" src = "/images/main/gallery.jpg">
                <div class = "main-minisite-item-text">
                  Browse images and display the selected using a modal.<br><br>
                  Created in React.
                </div>
              </div>
            </div></a>
          </div> 
        </div>         
      </div>
    </div>

    <style>
      


    </style>



    <div class = "content-block">
     <div class = "container">
      <h1>Contact</h1>
      <div class = "row">
        <div class = "col-sm-10 offset-sm-2">
          <p>Feel free to contact me here, although probably you already have my e-mail or phone number.</p>
        </div>
      </div>

      <form id = "contactform" name = "contactform">
          <div id = "contactname" class = "form-group row">
            <label for = "contactname" class = "col-sm-2 col-form-label">Name</label>
            <div class = "col-sm-10">
              <input name = "contactname" type = "text" class = "form-control" maxlength = "127" placeholder = "Name">
            </div>            
            <div class = "input-feedback d-none">Feedback</div>            
          </div>

          <div id = "contactcompany" class = "form-group row">
            <label for = "contactcompany" class = "col-sm-2 col-form-label">Company</label>
            <div class = "col-sm-10">
              <input name = "contactcompany" type = "text" class = "form-control" maxlength = "127" placeholder = "Company">
            </div>
            <div class = "input-feedback d-none">Feedback</div>
          </div>

          <div id = "contactmail" class = "form-group row">
            <label for = "contactmail" class = "col-sm-2 col-form-label">E-mail</label>
            <div class = "col-sm-10">
              <input name = "contactmail" type = "text" class = "form-control" maxlength = "127" placeholder = "E-mail">
            </div>
            <div class = "input-feedback d-none">Feedback</div>                 
          </div>
  
          <div id = "contactmessage" class = "form-group row">
            <label for = "contactmessage" class = "col-sm-2 col-form-label">Message</label>
            <div class = "col-sm-10">
              <textarea name = "contactmessage" class = "form-control" rows = "6" maxlength = "10000" placeholder = "Message" ></textarea>
            </div>
            <div class = "input-feedback d-none">Feedback</div>     
          </div>

          <div class = "form-group row justify-content-end">
            <div class = "col-4 col-sm-3 col-lg-2">
              <button id = "contactsubmit" type = "button" form = "contact" value = "submit" class = "btn btn-simple btn-block">Send</button>
            </div>
            <div class = "input-feedback d-none">Feedback</div>
          </div>          
      </form>

      <div id = "submit-response" class = "d-none">
        <h2>Thank you for sending your mail.</h2>
        <p><a href = "/contact/">Back</a></p>
      </div>
    </div>

    <script src = "/js/03_contact.js"></script>
    </div>          
  </section>

  <%# </html> %>
<%- include('00b_footer.ejs') %>