<%# <html> %>
<%- include('00a_header.ejs') %>
    <link rel = "stylesheet" href = "/css/02_aboutme.css">    

    <div class = "container">
      <h1>about me</h1>
      <div>
        <div class = "aboutme-list-container col-xl-10 offset-xl-1">
          <div class = "row">
            <img class = "img-fluid" src = "/images/aboutme/bme_16-6.jpg">
          </div>
          <div class = "row">
            <div class = "col text">
              <h4>University</h4>
              <p>I graduated as a Chemical Engineer from the Technical University of Budapest specializing on <a href = "http://www.ch.bme.hu/en/education/MSc/MScChem/">Analytical Chemistry and Structure Elucidation</a>. My main focus was <a href = "https://www.thoughtco.com/gas-chromatography-4138098">gas</a> and <a href = "https://www.atascientific.com.au/fundamentals-liquid-chromatography/">liquid chromatography</a> which is used for identifying and determining the quantity of each compound in multi-component samples, even if the said component is present as one part per million.</p>
              <p>Apart from the chemistry-related knowledge I gained I am mostly grateful for the scientific mindset it gave and the practical approach to solve problems.</p>
            </div>
          </div>
        </div>

        <div class = "aboutme-list-container col-xl-10 offset-xl-1">
          <div class = "row image">
            <img class = "img-fluid" src = "/images/aboutme/egis-STM_16-6.jpg ">
          </div>
          <div class = "row text">            
            <h4>Pharmaceutical Industry</h4>
            <p>I started working in a Research & Development laboratory at Egis. This laboratory uses solid-state analysis techniques such as <a href = "https://www.youtube.com/watch?v=QHMzFUo0NL8">X-ray Powder Diffraction</a>, <a href = "https://link.springer.com/article/10.1007/s40828-015-0008-y">Thermal Analysis</a>, or <a href = "https://www.nexus-analytics.com.my/how-does-laser-diffraction-work/">Laser-Diffraction</a> to determine and improve the properties of drugs.</p>
            <p>This requires requires good observation, precision, creativity and surprisingly, good communication skills to present your ideas on meetings, to keep contact with investors and foreign authorities or to resolve disagreements with a supplier from far away countries.</p>  
          </div>
        </div>

        <div class = "aboutme-list-container col-xl-10 offset-xl-1">
          <div class = "row image">
            <img class = "img-fluid" src = "/images/aboutme/mupa_16-6.jpg ">
          </div>
          <div class = "row text">            
            <h4>Learning to code</h4>
            <p>I first encountered programming near 2003 in the educational game <a href = "https://en.wikipedia.org/wiki/Colobot">Colobot</a>, where an object-oriented programming language syntactically similar to C++ and Java is used to program robots during a space mission. The programming concepts I learned there turned out to be quite useful later on.</p>
            <p>The first step to become a web developer was an introduction-level HTML, CSS and JavaScript course on <a href = "https://www.coursera.org/learn/html-css-javascript-for-web-developers">Coursera</a>. The instructors style made it easy to follow and it was quite rewarding to see my code transform into visual elements, not just a result in the console. After a while I came up with my own ideas on what to create next and read the necessary documentations and tutorials until I was able to make it. It also helped me prove that I am able to learn by myself and to realise that knowledge is out there if you are willing to reach. Fortunately I also had a professional mentor to consult from time to time about my progress and the issues I have encountered.</p>
            <p>Node.js was chosen for backend due to its popularity and the for the very practical reason that I already knew the basics of JavaScript at that point. The methodology was the same - after learning the ropes from online courses I just created mini-projects for myself, divided them into elemental tasks and looked for their solution.</p>
            <p>At the moment I feel myself capable of building a personal or a small-business website with basic functionality and the ability for the user to create and edit its contents.</p>
          </div>
        </div>

        <div class = "aboutme-list-container col-xl-10 offset-xl-1">
          <div class = "row image">
            <img class = "img-fluid" src = "/images/aboutme/triglav_16-6.jpg ">
          </div>
          <div class = "row text">            
            <h4>Hobbies</h4>
            <p>Whenever I have to opportunity I try to get out into the nature - whether it is a hike in the nearby mountains, going somewhere further or just to sit by a lake with a friend, getting into discussions about the meaning of life. I also like travelling, and the number of places I have been to is still growing. Music is my other passion, I often visit live music events mostly from the underground scene.</p>
          </div>
        </div>

      </div>
    </div>
<%- include('00b_footer.ejs') %>
<%# </html> %>