<%# <html> %>
<%- include('00a_header.ejs') %>
    <link rel = "stylesheet" href = "/css/06_fileuploader.css">    

    <div class = "container">
      <h1>file uploader</h1>
      <p>The uploaded files are stored in <strong>Amazon S3</strong> cloud service. The maximum upload size is <strong>4MB</strong> due to limitations of Cyclic.</p>

      <div class = "col-md-8 offset-md-2">
        <form id = "fileuploader-dropzone" name = "fileuploader-dropzone" class = "bordered-box" enctype = "multipart/form-data">
          <input type = "file" name = "fileuploader-input" id = "fileuploader-input" class = "d-none" multiple = "">
          <label for = "fileuploader-input">Click to browse or drag and drop your files here.</label>
          <div id = "progress-display">
          </div>
        </form>
        <button id = "submit-button" class = "btn btn-simple">Submit</button>
      </div>

      <div id = "selected-files-container" class = "col-md-8 offset-md-2">
        <h5>Files selected to upload</h5>
        <ul id = "selected-files">
        </ul>
      </div>

      <table id = "filelist-table" class = "table table-striped table-borderless">
        <thead>
          <tr>
            <th colspan = "5" style = "text-align: center;">Files uploaded to the server</th>
          </tr>
          <tr>
            <th scope = "col">#</th>
            <th scope = "col">File name</th>
            <th scope = "col">File size</th>
            <th scope = "col">Download</th>
            <th scope = "col">Delete</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>

    <script src = "/js/06_fileuploader.js"></script>

<%- include('00b_footer.ejs') %>
<%# </html> %>